.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 50px;
}
.upgrade{
    align-self: flex-start;
    justify-self: flex-end;
    margin-bottom: 100px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.logo{
    display: flex;
    gap: 20px;
}
.menu{
    display: flex;
    gap: 15px;
}